*{
    margin: 0;
    padding: 0;
}
#body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#saludoUsuario  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #62eb0c;
}
#contenido {
    text-align: center;
    color: #62eb0c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

#logout{

    border: solid 5px antiquewhite;
    background-color: #62eb0c;
    border-radius: 20px;
    width: 500px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: black;
}

.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.contenedorContacto{
    background-color: rgba(0, 0, 0, 0.465);
    margin: auto;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;
    width: 500px;
    border: solid 5px black;
    border-radius: 20px;

}
.input{
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #62eb0c;
    border-radius: 10px;
    font-weight: bold;
    background-color:rgba(0, 0, 0, 0.404);
    color: antiquewhite;
    cursor: pointer;
    font-size: 25px;
    transition: 3s;
}


.input:focus{
    color: #62eb0c;
}

.oculto{
    display: none;
}

